nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav button {
  padding: 10px;
  margin: 20px;
  font-weight: bolder; 
  background-color: #2ac1b7;
  font-size: large;
  color: black;
  border: 2px solid  white;
}

nav button:hover {
  background-color: black;
  color: white;
}

#grid-container {
  display: flex;
  border: 2px solid blue;
  flex-direction: column;
  height: 100vh;
}

.row {
  display: flex;
  flex: 1;
}

.element {
  flex: 1;
}

.element:hover {
  background-color: aqua;
}

.hovered-on {
  background-color: black;
}